# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略IDE生成的文件
.idea/
.vscode/
*.iml

# 忽略编译生成的文件
target/
**/target/

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp
*.swp
